:root{
    --text-color:#1a1c20;
    --link-color:#4a76ee;
    --background-color:#eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
    background-image: url("whi.png");
    background-size: cover;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/*navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

/* section*/
.hero-Section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50PX;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text{
    flex:5;
} 


.hero-section .text h2{
    font: 45px;
}

.hero-Section .text .links{
    margin-top: 25px; 
}

.hero-Section .text .links  a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px; 
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-Section .text .links  a:hover{
    color:var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot{
    flex:2;
    display: flex;
    justify-content: right;
}

.hero-Section .headshot img{
    width: 350px;
    border-radius: 50%;
    filter: blur(5px);
}
.hero-Section .headshot img:hover{
    filter: blur(0px);
}

 /*section2 skills*/
 .skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
 }
  
 .skills-section .text{
    text-align: center;
    margin-bottom: 20px;
 }

 .skills-section h2{
    text-align: center;
    font-style: 35px;
 }

 .skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }

   .skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
   }

   .skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
   }

   .skills-section .cells .cell span{
    font-size: 18px;
   }

    /*section3 testimony*/
    .testimony-section{
        padding: 0 50px;
        margin-bottom: 100px;
     }

     .testimony-section h2{
        font-style: 35px;
        margin-bottom: 30px;
     }

     .testimony-section .group{
        display: flex;
        align-items: center;
        gap: 50px;
     }

     .testimony-section .group .person-details{
        text-align: center;
        flex: 2;
     }

     .testimony-section .group .text{
        flex: 8;
     }

     .testimony-section .group .person-details img{
        width: 200px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
     }

     .testimony-section .group .person-details p{
        font-weight: 600;
     }

     .testimony-section .group .person-details p:last-child{
        font-weight: normal;
     }

        /*section4-contect*/
        .contect-section{
            padding: 0 50px;
            margin-bottom: 100px;
        }

        .contect-section .group{
             display: flex;
             gap: 50px;
             margin-top: 20px;
             flex: 5;
        }

        .contect-section .group form{
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .contect-section .group form input,
        .contect-section .group form textarea{
            font-family: 'poppins',sans-serif;
            background-color: transparent;
             border: 2px solid var(--link-color);
             padding: 10px;
            margin-bottom: 15px;
            margin-right:70px;
            outline: none;
            resize: none;
        }

        .contect-section .group form button{
            font-style: 16px;
            font-family: 'poppins',sans-serif;
            color: #fff;
            background-blend-mode: color;
            background-color: var(--link-color);
            border: none;
            height: 50px;
            margin-right: 70px;
            cursor: pointer;
            transition: .1s;
        }

        .contect-section .group form button:hover {
            filter: brightness(.9);
        }

@media(max-width:850px){
/*section-hero1*/
.hero-Section .text h2{
    font-size: 35px;

}

 /*section4-contect*/
 .contect-section{
    padding: 0 50px;
    margin-bottom: 100px;
 }



 .contect-section .group{
    display: flex;
}
}
@media(max-width:740px){
    /*section-hero1*/
    .hero-Section {
     flex-direction: column-reverse;
    }

    .hero-Section .headshot img{
        width: 300px;
    }
    /*section-testimony*/
    .testimony-section {
        text-align: center;
    }

    .testimony-section .group{
        flex-direction: column;
    }


      /*section-4 contect*/
      .contect-section .group{
        flex-direction: column;
      }
    }
    
@media(max-width:600px)
{
  nav{
    padding: 0 20px;
  }

  nav .right a{
    font-size: 22px;
  }
  
  nav .right a :last-child{
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span{
    display: none;
  }

/* section 1 hero*/
.hero-Section{
    padding: 0 20px;
}

.hero-Section .text h2{
    font-size: 30px;
}

/*section2 skills*/
.skills-section{
    padding: 0 20px;
}


.skills-section .cells .cell span{
    font-size: 16px;
}

  /*section-testimony*/
  .testimony-section {
    padding: 0 20px;
  }

  /*section-4 contact*/
  .contect-section {
    padding: 0 20px;
  }
}





